.message {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
}

.copyMessage {
  opacity: 0;
  color: #00ffa3;
  font-weight: 500;
  display: flex;
  flex: 1 0 100%;
  justify-content: center;
}

.copyMessageContent {
  background: transparent url(/check.svg) no-repeat left 3px;
  padding-left: 2rem;
}

.createMessage {
  opacity: 0;
  color: #00ffa3;
  font-weight: 500;
  margin-left: -100%;
  flex: 1 0 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.footerSpacer {
  flex: 1 1 0;
}
