@font-face {
  font-family: "Muoto";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("/fonts/muoto-var.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Muoto-italic";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/muoto-italic.woff2") format("woff2");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Muoto";
  font-size: 1rem;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  text-rendering: optimizeLegibility;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-primary: rgba(255, 255, 255, 1);
}

#__next {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  cursor: none;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
  opacity: 1;
  cursor: none;
}

html {
  cursor: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0;
  color: var(--text-primary);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: none;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #fc208a;
  cursor: none;
}
button:focus,
button:focus-visible {
  outline: 1px auto #fc208a;
}

/* Responsive 📱 */

/* For mobile devices with width up to 600px */
@media (max-width: 600px) {
  body {
    place-items: flex-start;
  }
}

@media screen and (max-height: 830px) {
  #__next {
    width: 50vh;
  }
}