.presenceAvatars {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  transition: opacity 0.5s;
}

.presenceAvatarContainer {
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
}

.presenceAvatar {
  text-align: center;
  text-align: -webkit-center;
  border: 3px solid #fc49ab;
  border-radius: 50%;
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.presenceAvatar:last-child {
  margin-right: 0;
}
