/* src/Grid.css */

.presenceContainer {
  position: relative;
  margin-bottom: 2rem;
}

.audioStartMessage {
  cursor: default;
}

.presenceAvatars {
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 8px;
}

.cell {
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.cell::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(252, 32, 138, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.cell:hover::before {
  opacity: 1;
}

.cell.queued {
  animation: pulse 1.5s infinite;
}

.cell.active {
  background-color: #fc208a;
}

.waveform {
  display: block;
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

/* Animations */
@keyframes pulse {
  0% {
    background-color: #fc208a;
    opacity: 0.5;
  }
  50% {
    background-color: #fc208a;
    opacity: 0.75;
  }
  100% {
    background-color: #fc208a;
    opacity: 0.5;
  }
}

/* Responsive 📱 */

/* For mobile devices with width up to 600px */
@media (max-width: 600px) {

  .waveform {
    width: 100%;
  }
}