/* src/Grid.css */

.presenceContainer {
  position: relative;
  margin-bottom: 2rem;
  height: 3rem;
}

.audioStartMessage {
  margin: 0;
  height: 3rem;
  line-height: 3rem;
}

.presenceAvatars {
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 0.5s;
}

.presenceAvatar {
  padding: 0.8125rem;
  text-align: center;
  line-height: 1rem;
  border: 3px solid #FC49AB;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.presenceAvatar:last-child {
  margin-right: 0;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 8px;
}

.cell {
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(255, 255, 255, 0.1);
  position: relative;
  box-sizing: border-box;
  cursor: none;
}

.cellHighlight {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.cell:hover > .cellHighlight {
  opacity: 0.7;
}

.cell.queued {
  animation: pulse 1.5s infinite;
}

.waveform {
  display: block;
  margin: 20px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

/* Animations */
@keyframes pulse {
  0% {
    background-color: #fc208a;
    opacity: 0.5;
  }
  50% {
    background-color: #fc208a;
    opacity: 0.75;
  }
  100% {
    background-color: #fc208a;
    opacity: 0.5;
  }
}

/* Responsive 📱 */

/* For mobile devices with width up to 600px */
@media (max-width: 600px) {
  .waveform {
    width: 100%;
  }
}
