.presenceAvatars {
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 0.5s;
}

.presenceAvatar {
  text-align: center;
  text-align: -webkit-center;
  line-height: 2rem;
  border: 3px solid #fc49ab;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.presenceAvatar:last-child {
  margin-right: 0;
}
